// SECTION: Child modifiers

.flex-row > .align-lt,
.flex-row > .align-tl {
  margin-right: auto;
  align-self: flex-start;
}
.flex-row > .align-ct,
.flex-row > .align-tc {
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
}
.flex-row > .align-rt,
.flex-row > .align-tr {
  margin-left: auto;
  align-self: flex-start;
}
.flex-row > .align-lc,
.flex-row > .align-cl {
  margin-right: auto;
  align-self: center;
}
.flex-row > .align-cc {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.flex-row > .align-rc,
.flex-row > .align-cr {
  margin-left: auto;
  align-self: center;
}
.flex-row > .align-lb,
.flex-row > .align-bl {
  margin-right: auto;
  align-self: flex-end;
}
.flex-row > .align-cb.flex-row > .align-bc {
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
}
.flex-row > .align-rb,
.flex-row > .align-br {
  margin-left: auto;
  align-self: flex-end;
}

.flex-row > .align-r {
  margin-left: auto;
}
.flex-row > .align-l {
  margin-right: auto;
}
.flex-row > .align-t {
  align-items: flex-start;
}
.flex-row > .align-b {
  align-items: flex-end;
}

@each $name, $size in $responsive-map {
  .flex-row > .align-lt-#{$name},
  .flex-row > .align-tl-#{$name} {
    @media #{$size} {
      margin-right: auto;
      align-self: flex-start;
    }
  }
  .flex-row > .align-ct-#{$name},
  .flex-row > .align-tc-#{$name} {
    @media #{$size} {
      margin-right: auto;
      margin-left: auto;
      align-self: flex-start;
    }
  }
  .flex-row > .align-rt-#{$name},
  .flex-row > .align-tr-#{$name} {
    @media #{$size} {
      margin-left: auto;
      align-self: flex-start;
    }
  }

  .flex-row > .align-lc-#{$name},
  .flex-row > .align-cl-#{$name} {
    @media #{$size} {
      margin-right: auto;
      align-self: center;
    }
  }
  .flex-row > .align-cc-#{$name} {
    @media #{$size} {
      margin-right: auto;
      margin-left: auto;
      align-self: center;
    }
  }
  .flex-row > .align-rc-#{$name},
  .flex-row > .align-cr-#{$name} {
    @media #{$size} {
      margin-left: auto;
      align-self: center;
    }
  }
  .flex-row > .align-lb-#{$name},
  .flex-row > .align-bl-#{$name} {
    @media #{$size} {
      margin-right: auto;
      align-self: flex-end;
    }
  }

  .flex-row > .align-cb-#{$name},
  .flex-row > .align-bc-#{$name} {
    @media #{$size} {
      margin-right: auto;
      margin-left: auto;
      align-self: flex-end;
    }
  }

  .flex-row > .align-rb-#{$name},
  .flex-row > .align-br-#{$name} {
    @media #{$size} {
      margin-left: auto;
      align-self: flex-end;
    }
  }

  .flex-row > .align-r-#{$name} {
    @media #{$size} {
      margin-left: auto;
    }
  }
  .flex-row > .align-l-#{$name} {
    @media #{$size} {
      margin-right: auto;
    }
  }
  .flex-row > .align-b-#{$name} {
    @media #{$size} {
      align-self: flex-end;
    }
  }
  .flex-row > .align-t-#{$name} {
    @media #{$size} {
      align-self: flex-start;
    }
  }
}
