// SECTION: Children columns

// FEATURE: Global children columns
@for $i from 1 through $column-count {
  .#{$row} > .col-#{$i} {
    flex-basis: 100% / $column-count * $i;
  }
}

// FEATURE: Media query children columns

@each $name, $size in $all {
  @media #{range-to-media-query($size)} {
    @for $i from 1 through $column-count {
      .#{$row} > .col-#{$i}-#{$name} {
        flex-basis: 100% / $column-count * $i;
      }
    }
  }
}

// FEATURE: Mock device children columns

@if $mock-media {
  @each $media-name, $media-size in $exacts {
    .\:media-#{$media-name} {
      @each $name, $size in $all {
        @if fit-in-size($size, $media-size) {
          @for $i from 1 through $column-count {
            .#{$row} > .col-#{$i}-#{$name} {
              flex-basis: 100% / $column-count * $i;
            }
          }
        }
      }
    }
  }
}

// FEATURE: Media query mock device children columns
@each $name, $size in $all {
  @media #{range-to-media-query($size)} {
    @if $mock-media {
      @each $media-name, $media-size in $exacts {
        .\:media-#{$media-name}-#{$name} {
          @each $name, $size in $all {
            @if fit-in-size($size, $media-size) {
              @for $i from 1 through $column-count {
                .#{$row} > .col-#{$i}-#{$name} {
                  flex-basis: 100% / $column-count * $i;
                }
              }
            }
          }
        }
      }
    }
  }
}
