// SECTION: Child modifiers


// FEATURE: Child - Shrink & grow

.#{$row} > .grow {
  flex-grow: 1;
}
.#{$row} > .\!grow {
  flex-grow: 0;
}
.#{$row} > .shrink {
  flex-shrink: 1;
}
.#{$row} > .\!shrink {
  flex-shrink: 0;
}
.#{$row} > .padding {
  padding: 2px 8px;
}
.#{$row} > .\!padding {
  padding: 0;
}

@each $name, $size in $responsive-map {
  .#{$row} > .grow-#{$name} {
    @media #{$size} {
      flex-grow: 1;
    }
  }
  .#{$row} > .\!grow-#{$name} {
    @media #{$size} {
      flex-grow: 0;
    }
  }
  .#{$row} > .shrink-#{$name} {
    @media #{$size} {
      flex-shrink: 1;
    }
  }
  .#{$row} > .\!shrink-#{$name} {
    @media #{$size} {
      flex-shrink: 0;
    }
  }
  .#{$row} > .padding-#{$name} {
    @media #{$size} {
      padding: 2px 8px;
    }
  }
  .#{$row} > .\!padding-#{$name} {
    @media #{$size} {
      padding: 0;
    }
  }

}
