// SECTION: Columns

@for $i from 1 through $column-count {
  .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"col")}-#{$i} > * {
    flex-basis: 100% / $column-count * $i;
  }
}

// FEATURE: Media query columns

@each $name, $size in $all {
  @media #{range-to-media-query($size)} {
    @for $i from 1 through $column-count {
      .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"col")}-#{$i}-#{$name} > * {
        flex-basis: 100% / $column-count * $i;
      }
    }
  }
}

// FEATURE: Mock device columns

@if $mock-media {
  @each $media-name, $media-size in $exacts {
    .\:#{map-get($dictionary,"media")}-#{$media-name} {
      @each $name, $size in $all {
        @if fit-in-size($size, $media-size) {
          @for $i from 1 through $column-count {
            .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"col")}-#{$i}-#{$name} > * {
              flex-basis: 100% / $column-count * $i;
            }
          }
        }
      }
    }
  }
}

// FEATURE: Media query mock device columns
@each $name, $size in $all {
  @media #{range-to-media-query($size)} {
    @if $mock-media {
      @each $media-name, $media-size in $exacts {
        .\:#{map-get($dictionary,"media")}-#{$media-name}-#{$name} {
          @each $name, $size in $all {
            @if fit-in-size($size, $media-size) {
              @for $i from 1 through $column-count {
                .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"col")}-#{$i}-#{$name} > * {
                  flex-basis: 100% / $column-count * $i;
                }
              }
            }
          }
        }
      }
    }
  }
}
