// SECTION: Row modifiers


.#{$row}.margined {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.#{$row}.padded {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}


// FEATURE: Shrink & grow

.#{$row}.\:grow > * {
  flex-grow: 1;
}

.#{$row}.\:\!grow > * {
  flex-grow: 0;
}
.#{$row}.\:shrink > * {
  flex-shrink: 1;
}
.#{$row}.\:\!shrink > * {
  flex-shrink: 0;
}

.#{$row}.\:wrap {
  flex-wrap: wrap;
  > * {
    flex-shrink: 0;
  }
}

@each $name, $size in $responsive-map {
  .#{$row}.\:grow-#{$name} > * {
    @media #{$size} {
      flex-grow: 1;
    }
  }
  .#{$row}.\:\!grow-#{$name} > * {
    @media #{$size} {
      flex-grow: 0;
    }
  }
  .#{$row}.\:shrink-#{$name} > * {
    @media #{$size} {
      flex-shrink: 1;
    }
  }
  .#{$row}.\:\!shrink-#{$name} > * {
    @media #{$size} {
      flex-shrink: 0;
    }
  }
  .#{$row}.\:wrap-#{$name} {
    @media #{$size} {
      flex-wrap: wrap;
      > * {
        flex-shrink: 0;
      }
    }
  }
}
