// SECTION: Row modifiers

.#{map-get($dictionary,"row")}.margined {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.#{map-get($dictionary,"row")}.padded {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

// FEATURE: Shrink & grow

.#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"grow")} > * {
  flex-grow: 1;
}
.#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"grow")} > * {
  flex-grow: 0;
}
.#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"shrink")} > * {
  flex-shrink: 1;
}
.#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"shrink")} > * {
  flex-shrink: 0;
}

.#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"wrap")} {
  flex-wrap: wrap;
  > * {
    flex-shrink: 0;
  }
}

@each $name, $size in $all {
  @media #{range-to-media-query($size)} {
    .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"grow")}#{$separator}#{$name} > * {
      flex-grow: 1;
    }
    .#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"grow")}#{$separator}#{$name} > * {
      flex-grow: 0;
    }
    .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"shrink")}#{$separator}#{$name} > * {
      flex-shrink: 1;
    }
    .#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"shrink")}#{$separator}#{$name} > * {
      flex-shrink: 0;
    }
    .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"wrap")}#{$separator}#{$name} {
      flex-wrap: wrap;
      > * {
        flex-shrink: 0;
      }
    }
  }
}

// FEATURE: Mock device columns

@if $mock-media {
  @each $media-name, $media-size in $exacts {
    .\:media-#{$media-name} {
      @each $name, $size in $all {
        @if fit-in-size($size, $media-size) {
          // Here
          .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"grow")}#{$separator}#{$name} > * {
            flex-grow: 1;
          }
          .#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"grow")}#{$separator}#{$name} > * {
            flex-grow: 0;
          }
          .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"shrink")}#{$separator}#{$name} > * {
            flex-shrink: 1;
          }
          .#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"shrink")}#{$separator}#{$name} > * {
            flex-shrink: 0;
          }
          .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"wrap")}#{$separator}#{$name} {
            flex-wrap: wrap;
            > * {
              flex-shrink: 0;
            }
          }
          // endHere
        }
      }
    }
  }
}

// FEATURE: Media query mock device columns
// TODO: possible optimization
@if $mock-media {
  @each $name, $size in $all {
    @media #{range-to-media-query($size)} {
      @each $media-name, $media-size in $exacts {
        .\:media-#{$media-name}-#{$name} {
          @each $name, $size in $all {
            @if fit-in-size($size, $media-size) {
              // Here
              .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"grow")}#{$separator}#{$name} > * {
                flex-grow: 1;
              }
              .#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"grow")}#{$separator}#{$name} > * {
                flex-grow: 0;
              }
              .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"shrink")}#{$separator}#{$name} > * {
                flex-shrink: 1;
              }
              .#{map-get($dictionary,"row")}.\:\!#{map-get($dictionary,"shrink")}#{$separator}#{$name} > * {
                flex-shrink: 0;
              }
              .#{map-get($dictionary,"row")}.\:#{map-get($dictionary,"wrap")}#{$separator}#{$name} {
                flex-wrap: wrap;
                > * {
                  flex-shrink: 0;
                }
              }
              // end Here
            }
          }
        }
      }
    }
  }
}
