* {
  box-sizing: border-box;
}
.container {
  padding: 2em 4%;
}

$column-color: #79a7a1;
$column-border: 1px solid #67948e;
.row {
  margin: 1em 0;
}
.row > * {
  min-height: 40px;
  background: #79a7a1;
  font-family: sans-serif;
  color: white;
  border: $column-border;
  min-height: 40px;
  background: $column-color;
}
