$mock-media: false !default; // :media:sm
$use-ranges: '+' !default; //  [false,true,'+','-']   example: *:md-  *:sm+
$separator: "\\:" !default; // i.e for "-" :grow-md-, for ":" :grow:md-
$nano-commands: true !default;
$dictionary: (
  "row": "row",
  "align": "align",
  "media": "media",
  "grow": "grow",
  "shrink": "shrink",
  "col": "col",
  "wrap": "wrap",
  "padded": "padded"
) !default;
@if $nano-commands {
  $dictionary: (
    "row": "r",
    "align": "a",
    "media": "m",
    "grow": "g",
    "shrink": "s",
    "col": "c",
    "wrap": "w",
    "padded": "p"
  ) ;
}
