$mock-media: false; // :media:sm
$row: "row"; // main row name
$ranges: false; // *:md-  *:sm+
$separator: ":"; // i.e for "-" :grow-md-, for ":" :grow:md-
$nano-commands: true;
$dictionary: (
  "row": "row",
  "align": "align",
  "media": "media",
  "grow": "grow",
  "shrink": "shrink",
  "col": "col",
  "wrap": "wrap",
  "padded": "padded"
);
@if $nano-commands {
  $dictionary: (
    "row": "r",
    "align": "a",
    "media": "m",
    "grow": "g",
    "shrink": "s",
    "col": "c",
    "wrap": "w",
    "padded": "p"
  );
}
