@use "sass:map";

// @debug map.merge($font-weights, ("medium": 600));

@function range-to-media-query($size) {
  @if type-of(map-get($value, "min")) == "null" and type-of(map-get($value, "max")) == "number" {
    // FEATURE: max only
    @return "(max-width:" + map-get($value, "max") + ")";
  } @else if type-of(map-get($value, "max")) == "null" and type-of(map-get($value, "min")) == "number" {
    // FEATURE: min only
    @return "(min-width:" + map-get($value, "min") + ")";
  } @else if type-of(map-get($value, "max")) == "number" and type-of(map-get($value, "min")) == "number" {
    // FEATURE: min and max
    @return "(min-width:" + map-get($value, "min") + ")" +" and " +"(max-width:" + map-get($value, "max") + ")";
  }
}
@function ranges-to-media-map($sizes, $scale: 1) {
  $exact: ();
  $range: ();
  // $separator: list.separator($list);
  @each $key, $value in $sizes {
    $query: "";
    @if type-of(map-get($value, "min")) == "null" and type-of(map-get($value, "max")) == "number" {
      // FEATURE: max only
      $max: map-get($value, "max") * $scale;
      $exact: map.merge(
        $exact,
        (
          $key: "(max-width:" + $max + ")"
        )
      );
      $range: map.merge($range, ($key + "\\+": "(min-width:" + $max + ")"));
    } @else if type-of(map-get($value, "max")) == "null" and type-of(map-get($value, "min")) == "number" {
      // FEATURE: min only
      $min: map-get($value, "min") * $scale;

      $exact: map.merge(
        $exact,
        (
          $key: "(min-width:" + $min + ")"
        )
      );
      $range: map.merge($range, ($key + "\\-": "(max-width:" + $min + ")"));
    } @else if type-of(map-get($value, "max")) == "number" and type-of(map-get($value, "min")) == "number" {
      // FEATURE: min and max
      $min: map-get($value, "min") * $scale;
      $max: map-get($value, "max") * $scale;

      $exact: map.merge(
        $exact,
        (
          $key: "(min-width:" + $min + ")" +" and " +"(max-width:" + $max + ")"
        )
      );
      $range: map.merge($range, ($key + "\\+": "(min-width:" + $max + ")"));
      $range: map.merge($range, ($key + "\\-": "(max-width:" + $min + ")"));
    }
  }
  @return map.merge($range, $exact);
}
