@use "sass:map";
@import "function.scss";
@import "config.scss";

$exacts: (
  "lg": (
    min: 1201px
  ),
  "md": (
    min: 993px,
    max: 1200px
  ),
  "sm": (
    min: 769px,
    max: 992px
  ),
  "xs": (
    min: 481px,
    max: 768px
  ),
  "xxs": (
    max: 480px
  )
);
$ranges: generate-ranges($exacts);
$all: map.merge($ranges, $exacts);
$column-count: 12;

$responsive-map: ranges-to-media-map($all);

// $row-name: 'row';
.#{$row} {
  display: flex;
  flex-basis: 100%;
}

.#{$row} > * {
  flex: 0 1 auto;
}

@import "row/align.scss";
@import "row/modifier.scss";
@import "row/column.scss";
@import "child/align.scss";
@import "child/modifier.scss";
@import "child/column.scss";
