@import "function.scss";
@import "config.scss";

$exacts: (
  "lg": (
    min: 1201px
  ),
  "md": (
    min: 993px,
    max: 1200px
  ),
  "sm": (
    min: 769px,
    max: 992px
  ),
  "xs": (
    min: 481px,
    max: 768px
  ),
  "xxs": (
    max: 480px
  )
);
$all: $exacts;
$column-count: 12;

@if $use-ranges != false {
  $ranges: generate-ranges($exacts,$use-ranges);
  $all: map-merge($ranges, $exacts);
}

// $row-name: 'row';
.#{map-get($dictionary,"row")} {
  display: flex;
  flex-basis: 100%;
}

.#{map-get($dictionary,"row")} > * {
  flex: 0 1 auto;
}



@import "global/modifier.scss";
@import "row/align.scss";
@import "row/modifier.scss";
@import "row/column.scss";
@import "child/align.scss";
@import "child/modifier.scss"; // TODO:
@import "child/column.scss";
